<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="cursor-pointer" fxLayoutGap="10px" fxLayoutAlign="start none" [fxShow]="true" [matMenuTriggerFor]="menu">
    <div fxLayout="column wrap" class="user-name" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.loaded">
      <div class="initial center font-12">
        {{page.initials | uppercase}}
      </div>
    </div>
    <div fxLayout="column wrap" class="justify-center" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="font-10">
        {{page.profile_values.designation_name}} <br>
      </div>
      <div class="font-12">
        {{page.profile_values.employee_name}}
      </div>
      <div fxLayout="column wrap" fxLayoutGap="25px" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-menu class="bold padding-15 menu-panel" #menu="matMenu">
          <div fxLayout="row wrap" class="subMenu cursor-pointer" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true" routerLink="profile">
            <mat-icon>person</mat-icon>
            <div>
              Profile</div>
          </div>
          <div fxLayout="row wrap" class="subMenu cursor-pointer" fxLayoutGap="20px" fxLayoutAlign="start center" [fxShow]="true" (click)="signOut()">
            <mat-icon>person</mat-icon>
            <div>
              Sign out</div>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>