<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <h2 style="color:white;margin-left: 20px;">
      TIMESHEET STATUS</h2>
  </div>
  <div fxLayout="row " style="width:50%;" class="profile-form pl2" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="white-label" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-form-field class="input-control input input-border-color" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
        <input matInput placeholder="Search" [required]="false" autocomplete="off" (keyup)="onFilter_2($event)">
        <mat-icon matSuffix>
          <mat-icon class="search-icon">search</mat-icon>
        </mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="column wrap" class="white-label" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-form-field style="margin-left:10px;" class="input-border-color input-control select-placeholder-color" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <mat-select placeholder="Select year" [(ngModel)]="page.year" [required]="false" (selectionChange)="valueChange($event)" autoComplete="off">
          <ng-template ngFor let-option [ngForOf]="page.state" let-i="index">
            <mat-option [value]="option.value">{{option.viewValue}}</mat-option>
          </ng-template>
        </mat-select>

      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" class="p2 mt3" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column" class="table">
      <table mat-table [dataSource]="page?.tableData" class="table-width-fix">
        <tr mat-header-row *matHeaderRowDef="[&apos;0b7a1171-1904-ecdd-f336-a924527859ef&apos;,&apos;tsSent&apos;,&apos;approved&apos;,&apos;rejected&apos;,&apos;approvalsRem&apos;]"></tr>
        <tr mat-row *matRowDef="let row; columns: [&apos;0b7a1171-1904-ecdd-f336-a924527859ef&apos;,&apos;tsSent&apos;,&apos;approved&apos;,&apos;rejected&apos;,&apos;approvalsRem&apos;];"></tr>

        <ng-container matColumnDef="0b7a1171-1904-ecdd-f336-a924527859ef">
          <th mat-header-cell *matHeaderCellDef class="table-header">Timesheet</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="table-column">
            <div>
              <p class="bold cursor-pointer" (click)="particularYear(table.tsMonths)">{{table.tsMonths}}</p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="tsSent">
          <th mat-header-cell *matHeaderCellDef class="center table-header">Timesheet sent</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="center table-column">{{table.tsSent}}</td>
        </ng-container>

        <ng-container matColumnDef="approved">
          <th mat-header-cell *matHeaderCellDef class="center table-header">Approved</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="center table-column">{{table.approved}}</td>
        </ng-container>

        <ng-container matColumnDef="rejected">
          <th mat-header-cell *matHeaderCellDef class="center table-header">Rejected</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="center table-column">{{table.rejected}}</td>
        </ng-container>

        <ng-container matColumnDef="approvalsRem" style="background:red">
          <th mat-header-cell *matHeaderCellDef class="center table-header">Approvals Remaining</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="center table-column">{{table.approvalsRem}}</td>
        </ng-container>
      </table>
    </div>
  </div>
</div>